div{
    color:white
}
.users{
    display: grid;
    align-items: center;
    grid-template-columns: 175px [col-start] 500px [col-start] ;
}
div.filter{
    display: grid;
    grid-column-start: 1;
    margin-bottom: 700px;
    border: 2px solid white;
    width: 150px;
    border-radius: 5px;
    position: fixed;
    top: 100px;
    align-items: center;
}
div.user {
    grid-column-start: 2;
}
button {
    background-color: white;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 5px;
}