<div class="users">
    <div class="filter">
        <user-filter (filtersEvent)="setFilters($event)"></user-filter>
        <button (click)="getUsers()">More Users</button>
    </div>
    <div class="user">
        <div *ngIf="usersToShow.length; else noUsers">
            <div *ngFor="let user of usersToShow | nameFilter : nameFilter">
                <user-detail [user]="user" (favoriteEvent)="setFavorite($event)"></user-detail>
            </div>
        </div>
        <ng-template #noUsers>There are no users to show at the time.</ng-template>
    </div>
</div>